h1 {
    color: black
}

h3{
    color: burlywood
}

h4{
    color:crimson
}

h6{
    color: blueviolet 
}

.reserve-movies-button {
    padding: 5px 10px;
    background-color: blanchedalmond;
    color: coral;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    transition: 225ms;
    cursor: pointer;
    transform: scale(0);
}

.img{
    width: 400px;
    height: 400px
}

.movie-class {
    cursor:pointer;
}
.movie-class-clicked{
    background-color: cadetblue;
    border-radius: 1rem;
    transition: background-color;
    transform: scale(1.05);
}

.pop-up{
    transform:scale(0);
    position: relative;
    width: 250px;
    height: auto;
    border-radius: 3px;
    background-color: aquamarine;
    padding: 10px;
    box-shadow: 0 0 6px 2px black;
    text-align: center;
    transition: 225ms;
}

.show-button{
    transform: scale(1.05) !important;
    transition-duration: 500ms;
}

.show-popup{
    transform: scale(1) !important;
    transition-duration: 300ms;
}

.confirm-reservation-button{
    background-color: black;
    color:white;
    padding: 1rem;
    border:yellowgreen;
    border-radius: 2px;
    transition: 150ms;
    cursor: pointer;
    transform: scale(0);
}

.show-confirmation{
    transform: scale(1) !important;
    transition-duration: 300ms;
}

.cancel-button{
    display: none;
}
